{% extends 'base.html' %}
{% block contenido %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ noticia.titulo }}</h5>
            <p class="card-text">{{ noticia.cuerpo }}</p>
            <img src="{{ noticia.imagen.url }}" class="card-img-top" alt="{{ noticia.titulo }}">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1>Editar Noticia</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </form>
      </div>
    </div>
  </div>
{% endblock contenido %}
