{% extends 'base.html' %}
{% load static %}
<!-- Insertar Estilos -->
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/registrar_noticias.css' %}">
{% endblock stylesheet %}
<!-- Insertar Titulo -->
{% block titulo%} Registrar Nuevas Noticias {%endblock titulo%}

{% block contenido%}
    <div class="form-container">
        <h1>FORMULARIO DE NOTICIAS</h1>
        <h2>No te olvides de completar todos los formularios y no olvidarte ningun detalle</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar noticia</button>
        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        </form>
    </div>
{% endblock contenido%}
