/* Fondo de Pagina */

body {
  background-image: url("/static/img/fondo_home.jpg");
  background-repeat: no-repeat;
  /* background-position: top; */
  background-attachment: fixed;
  background-size: cover;
}

/* ESTILO DEL CONTENIDO */

.content-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 20px;
}

.main-container {
  flex: 1; /* Esto permite que el contenido principal ocupe el espacio restante */
  padding: 20px;
  background-color: #f1f1f14d;
}

.carousel-container {
  position: relative;
}

.noticias-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 0 0 10px 10px;
  color: #fff;
}

.noticia-img{
  height: 300px;
  object-fit: cover; /* Para que la imagen se ajuste al contenedor */
  border-radius: 10px;
}

/* Estilo del título de la noticia */
.titulo-noticia {
  font-size: 24px;
  font-weight: bold;
}

/* Estilo del cuerpo de la noticia */
.noticia-container p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.aside-container {
  width: 300px; /* Ancho fijo para el aside */
  padding: 20px;
  background-color: #5e5e5e51;
}

.bienvenida {
  background-color: rgba(197, 198, 198, 0.385);
  border: 3px solid #890707;
  border-radius: 2px;
  margin: 20px 10px
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column; /* Cambiar a dirección de columna en pantallas más pequeñas */
    align-items: center; /* Centrar el contenido verticalmente */
  }

  .main-container {
    max-width: 100%; /* Ancho completo en pantallas más pequeñas */
  }

}
