{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="https://kit.fontawesome.com/883aaa2c72.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Ubuntu&display=swap" rel="stylesheet">
        
        {% block stylesheet %}

        {% endblock stylesheet %}
        <title>blog| {% block titulo%} {% endblock titulo%}</title>
    </head>
<body class="contenedor">
    <!-- Navegador Responsive -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <!-- Logo -->
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/PROYECTO_GAMER.png' %}" alt="Logo" width="300px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Botones -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <!-- boton home -->
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <!-- boton nosotros -->
                <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
              </li>
              <li class="nav-item">
                <!-- boton Noticias -->
                <a class="nav-link" href="{% url 'noticias:inicio' %}">Noticias</a>
              </li>
              <li class="nav-item">
                <!-- boton Noticias -->
                <a class="nav-link" href="{% url 'noticias:contacto' %}">Contacto</a>
              </li>
              <li class="nav-item">
                <!-- boton Noticias -->
                <a class="nav-link" href="{% url 'recomendaciones' %}">Recomendaciones</a>
              </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="conectado">
                <h3> {{ user.username }} </h4>
            </div>
            <div class="logout_container">
                <a href="{% url 'logout' %}" class="cerrar">Cerrar sesion</a>
            </div>
            {% else %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <!-- boton Noticias -->
                <a class="nav-link login" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <!-- boton Noticias -->
                <a class="nav-link signin" href="{% url 'noticias:registro' %}">Registrate</a>
              </li>
            {% endif %}
          </div>
        </div>
      </nav>
    <div class="contenido">
      {% block contenido %}
      
      {% endblock contenido%}
    </div>
    <footer class="pie-pagina">
      <div class="grupo1">
          <div class="box">
            <figure>
              <a href="#" class="logo-footer-container">
                <img src="{% static 'img/logito.png' %}" alt="Logo del Footer" class="logo-footer-img" width="300px">
              </a>
            </figure>
          </div>
          <div class="box">
              <h2>SOBRE NOSOTROS</h2>
              <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, nisi?</P>
              <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, nisi?</P>
          </div>
          <div class="box">
              <h2>SIGUENOS</h2>
              <div class="red-social">
                  <a href="#" class="fa fa-facebook"></a>
                  <a href="#" class="fa fa-instagram"></a>
                  <a href="#" class="fa fa-youtube"></a>
                  <a href="#" class="fa fa-twitter"></a>
              </div>
          </div>
      </div>
      <div class="grupo2">
          <small>&copy; 2023 <b>PROYECTO GAMER</b> - Todos Los Derechos Reservados</small>
      </div>
  <footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>